body {
    font-family: Arial,sans-serif;
    background-color:rgb(6, 125, 28);
    text-align: center;
    margin: 20px;
}
h1{
    color: black;
    margin-bottom: 30px;
}
.product-box {
 background-color: rgb(230, 232, 233);
 width: 300px;
 margin: 0 auto;
 padding: 15px;
 border: 2px solid rgb(128, 128, 128);
 border-radius: 8px;
}
.product-box img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}
.product-box h2{
    color: black;
    font-size: 20px;
    margin: 10px 0;
}
.price{
    color: rgb(168, 203, 31);
    font-weight: bold;
    margin-bottom: 15px;
}
button{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    
}
button:hover{
    background-color: deepskyblue;
    color: black;
    padding:10px 20px ;
    border-radius: 6px;
}